MTConnectMobileAssets_1.1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!--
Copyright (c) 2008-2010, AMT – The Association For Manufacturing Technology (“AMT”)
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:
    * Redistributions of source code must retain the above copyright
      notice, this list of conditions and the following disclaimer.
    * Redistributions in binary form must reproduce the above copyright
      notice, this list of conditions and the following disclaimer in the
      documentation and/or other materials provided with the distribution.
    * Neither the name of the AMT nor the
      names of its contributors may be used to endorse or promote products
      derived from this software without specific prior written permission.

DISCLAIMER OF WARRANTY. ALL MTCONNECT MATERIALS AND SPECIFICATIONS PROVIDED
BY AMT, MTCONNECT OR ANY PARTICIPANT TO YOU OR ANY PARTY ARE PROVIDED "AS IS"
AND WITHOUT ANY WARRANTY OF ANY KIND. AMT, MTCONNECT, AND EACH OF THEIR
RESPECTIVE MEMBERS, OFFICERS, DIRECTORS, AFFILIATES, SPONSORS, AND AGENTS
(COLLECTIVELY, THE "AMT PARTIES") AND PARTICIPANTS MAKE NO REPRESENTATION OR
WARRANTY OF ANY KIND WHATSOEVER RELATING TO THESE MATERIALS, INCLUDING, WITHOUT
LIMITATION, ANY EXPRESS OR IMPLIED WARRANTY OF NONINFRINGEMENT,
MERCHANTABILITY, OR FITNESS FOR A PARTICULAR PURPOSE. 

LIMITATION OF LIABILITY. IN NO EVENT SHALL AMT, MTCONNECT, ANY OTHER AMT
PARTY, OR ANY PARTICIPANT BE LIABLE FOR THE COST OF PROCURING SUBSTITUTE GOODS
OR SERVICES, LOST PROFITS, LOSS OF USE, LOSS OF DATA OR ANY INCIDENTAL,
CONSEQUENTIAL, INDIRECT, SPECIAL OR PUNITIVE DAMAGES OR OTHER DIRECT DAMAGES,
WHETHER UNDER CONTRACT, TORT, WARRANTY OR OTHERWISE, ARISING IN ANY WAY OUT OF
THIS AGREEMENT, USE OR INABILITY TO USE MTCONNECT MATERIALS, WHETHER OR NOT
SUCH PARTY HAD ADVANCE NOTICE OF THE POSSIBILITY OF SUCH DAMAGES.
-->
<xs:schema targetNamespace='urn:mtconnect.org:MTConnectMobileAssets:1.2' elementFormDefault='qualified' attributeFormDefault='unqualified' xmlns:xs='http://www.w3.org/2001/XMLSchema' xmlns:mt='urn:mtconnect.org:MTConnectMobileAssets:1.2' xmlns='urn:mtconnect.org:MTConnectMobileAssets:1.2'>
  <xs:element name='MTConnectMobileAssets' type='MTConnectMobileAssetsType'>
    <xs:annotation>
      <xs:documentation>
        The root node for MTConnect
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name='SenderType'>
    <xs:annotation>
      <xs:documentation>
        The sender of the message
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='CreationTimeType'>
    <xs:annotation>
      <xs:documentation>
        The date and time the document was created
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:dateTime'/>
  </xs:simpleType>
  <xs:simpleType name='SequenceType'>
    <xs:annotation>
      <xs:documentation>
        A sequence number
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:integer'/>
  </xs:simpleType>
  <xs:simpleType name='TestIndicatorType'>
    <xs:annotation>
      <xs:documentation>
        A debugging flag for testing.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:boolean'/>
  </xs:simpleType>
  <xs:simpleType name='InstanceIdType'>
    <xs:annotation>
      <xs:documentation>
        The instance number of the agent, used for fault tolerance
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='BufferSizeType'>
    <xs:annotation>
      <xs:documentation>
        The size of the agents buffer
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:integer'/>
  </xs:simpleType>
  <xs:simpleType name='VersionType'>
    <xs:annotation>
      <xs:documentation>
        A version number
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:NMTOKEN'/>
  </xs:simpleType>
  <xs:simpleType name='NameType'>
    <xs:annotation>
      <xs:documentation>
        A short name for any element
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='UuidType'>
    <xs:annotation>
      <xs:documentation>
        A universally unique id that uniquely identifies the element for
        it&apos;s entire life
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='SerialNumberType'>
    <xs:annotation>
      <xs:documentation>
        A serial number for a piece of equipment
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='ItemSourceType'>
    <xs:annotation>
      <xs:documentation>
        The measurement source
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='RateType'>
    <xs:annotation>
      <xs:documentation>
        A sample rate in milliseconds per sample
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:float'/>
  </xs:simpleType>
  <xs:simpleType name='IDType'>
    <xs:annotation>
      <xs:documentation>
        An identifier
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:ID'/>
  </xs:simpleType>
  <xs:simpleType name='DescriptionTextType'>
    <xs:annotation>
      <xs:documentation>
        A description
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='DataItemEnumType'>
    <xs:annotation>
      <xs:documentation>
        The types of measurements available
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='ACCELERATION'/>
      <xs:enumeration value='ACTIVE_AXES'/>
      <xs:enumeration value='ALARM'/>
      <xs:enumeration value='AMPERAGE'/>
      <xs:enumeration value='ANGLE'/>
      <xs:enumeration value='ANGULAR_ACCELERATION'/>
      <xs:enumeration value='ANGULAR_VELOCITY'/>
      <xs:enumeration value='BLOCK'/>
      <xs:enumeration value='CODE'/>
      <xs:enumeration value='DISPLACEMENT'/>
      <xs:enumeration value='DIRECTION'/>
      <xs:enumeration value='DOOR_STATE'/>
      <xs:enumeration value='EMERGENCY_STOP'/>
      <xs:enumeration value='EXECUTION'/>
      <xs:enumeration value='FREQUENCY'/>
      <xs:enumeration value='PART_ID'/>
      <xs:enumeration value='PATH_FEEDRATE'/>
      <xs:enumeration value='PATH_POSITION'/>
      <xs:enumeration value='AXIS_FEEDRATE'/>
      <xs:enumeration value='LINE'/>
      <xs:enumeration value='CONTROLLER_MODE'/>
      <xs:enumeration value='LOAD'/>
      <xs:enumeration value='MESSAGE'/>
      <xs:enumeration value='POSITION'/>
      <xs:enumeration value='POWER_STATUS'/>
      <xs:enumeration value='POWER_STATE'/>
      <xs:enumeration value='PRESSURE'/>
      <xs:enumeration value='PROGRAM'/>
      <xs:enumeration value='ROTARY_MODE'/>
      <xs:enumeration value='COUPLED_AXES'/>
      <xs:enumeration value='AXIS_COUPLING'/>
      <xs:enumeration value='SPINDLE_SPEED'/>
      <xs:enumeration value='TEMPERATURE'/>
      <xs:enumeration value='TORQUE'/>
      <xs:enumeration value='TOOL_ID'/>
      <xs:enumeration value='VELOCITY'/>
      <xs:enumeration value='VIBRATION'/>
      <xs:enumeration value='VOLTAGE'/>
      <xs:enumeration value='WATTS'/>
      <xs:enumeration value='WORKHOLDING_ID'/>
      <xs:enumeration value='COMMUNICATIONS'/>
      <xs:enumeration value='LOGIC_PROGRAM'/>
      <xs:enumeration value='MOTION_PROGRAM'/>
      <xs:enumeration value='HARDWARE'/>
      <xs:enumeration value='SYSTEM'/>
      <xs:enumeration value='LEVEL'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='DataItemSubEnumType'>
    <xs:annotation>
      <xs:documentation>
        The sub-types for a measurement
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='ACTUAL'/>
      <xs:enumeration value='COMMANDED'/>
      <xs:enumeration value='MAXIMUM'/>
      <xs:enumeration value='MINIMUM'/>
      <xs:enumeration value='OTHER'/>
      <xs:enumeration value='OVERRIDE'/>
      <xs:enumeration value='TARGET'/>
      <xs:enumeration value='GOOD'/>
      <xs:enumeration value='BAD'/>
      <xs:enumeration value='ALL'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name='HeaderType'>
    <xs:annotation>
      <xs:documentation>
        Message header for protocol information
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='xs:string'>
        <xs:attribute name='version' type='VersionType' use='required'/>
        <xs:attribute name='creationTime' type='CreationTimeType' use='required'/>
        <xs:attribute name='testIndicator' type='TestIndicatorType' use='optional'/>
        <xs:attribute name='instanceId' type='InstanceIdType' use='required'/>
        <xs:attribute name='sender' type='SenderType' use='required'/>
        <xs:attribute name='bufferSize' type='BufferSizeType' use='required'/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name='MTConnectMobileAssetsType'>
    <xs:annotation>
      <xs:documentation>
        The root node for MTConnect
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name='Header' type='HeaderType'>
        <xs:annotation>
          <xs:documentation>
            Protocol dependent information
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='MobileAssets' type='MobileAssetsType'>
        <xs:annotation>
          <xs:documentation>
            The assets
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name='DescriptionType'>
    <xs:annotation>
      <xs:documentation>
        A description
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='PotCountType'>
    <xs:annotation>
      <xs:documentation>
        The number of pots (Is this term confusing?)
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:integer'/>
  </xs:simpleType>
  <xs:simpleType name='InsertIdType'>
    <xs:annotation>
      <xs:documentation>
        An identifier for the insert
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:integer'/>
  </xs:simpleType>
  <xs:simpleType name='MeasurementValueType'>
    <xs:annotation>
      <xs:documentation>
        A measurement value
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:float'/>
  </xs:simpleType>
  <xs:simpleType name='MaximumType'>
    <xs:annotation>
      <xs:documentation>
        A maximum value
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:float'/>
  </xs:simpleType>
  <xs:simpleType name='MinimumType'>
    <xs:annotation>
      <xs:documentation>
        A minimum value
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:float'/>
  </xs:simpleType>
  <xs:simpleType name='ToolStateValueType'>
    <xs:annotation>
      <xs:documentation>
        The state of the tool
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='FRESH'/>
      <xs:enumeration value='EXPIRED'/>
      <xs:enumeration value='NOT_REGISTERED'/>
      <xs:enumeration value='IN_USE'/>
      <xs:enumeration value='BROKEN'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='MeasurementType'>
    <xs:annotation>
      <xs:documentation>
        The type of measurement
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='NOMINAL'/>
      <xs:enumeration value='MEASURED'/>
      <xs:enumeration value='OFFSET'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name='ToolStateType'>
    <xs:annotation>
      <xs:documentation>
        The tool state
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='ToolStateValueType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name='AssetType' abstract='true'>
    <xs:annotation>
      <xs:documentation>
        An abstract mobile asset
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name='Description' maxOccurs='1' minOccurs='0' type='DescriptionType'>
        <xs:annotation>
          <xs:documentation>
            The description of the asset (freeform)
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name='name' type='NameType' use='required'/>
    <xs:attribute name='serialNumber' type='SerialNumberType' use='required'/>
  </xs:complexType>
  <xs:element name='Asset' abstract='true' type='AssetType'>
    <xs:annotation>
      <xs:documentation>
        An abstract mobile asset
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='MobileAssetsType'>
    <xs:annotation>
      <xs:documentation>
        The collection of mobile assets
      </xs:documentation>
    </xs:annotation>
    <xs:choice maxOccurs='unbounded' minOccurs='1'>
      <xs:element name='ToolAssembly' type='ToolAssemblyType'>
        <xs:annotation>
          <xs:documentation>
            A tool assembly
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Workholding' type='WorkholdingType'>
        <xs:annotation>
          <xs:documentation>
            A workholding definition (TBD)
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name='WorkholdingType'>
    <xs:annotation>
      <xs:documentation>
        Currently just a place holder
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base='AssetType'/>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='Workholding' substitutionGroup='Asset' type='WorkholdingType'>
    <xs:annotation>
      <xs:documentation>
        Currently just a place holder
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='ToolAssemblyType'>
    <xs:annotation>
      <xs:documentation>
        A defintion of a cutting implement
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base='AssetType'>
        <xs:sequence>
          <xs:element name='ToolState' type='ToolStateType'>
            <xs:annotation>
              <xs:documentation>
                The state of the tool assembly
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name='PotCount' maxOccurs='1' minOccurs='0' default='1' type='PotCountType'>
            <xs:annotation>
              <xs:documentation>
                The number of pots this tool will consume due to interference.
                If not given, assume 1
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name='Inserts' type='InsertsType'>
            <xs:annotation>
              <xs:documentation>
                A list of inserts for this assembly
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='ToolAssembly' substitutionGroup='Asset' type='ToolAssemblyType'>
    <xs:annotation>
      <xs:documentation>
        A defintion of a cutting implement
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='InsertsType'>
    <xs:annotation>
      <xs:documentation>
        A list of inserts
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name='Insert' maxOccurs='unbounded' minOccurs='1' type='InsertType'>
        <xs:annotation>
          <xs:documentation>
            An insert
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='InsertType'>
    <xs:annotation>
      <xs:documentation>
        An insert into a tool assembly
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs='unbounded' minOccurs='1' ref='InsertMeasurement'/>
    </xs:sequence>
    <xs:attribute name='insertId' type='InsertIdType' use='required'/>
  </xs:complexType>
  <xs:complexType name='InsertMeasurementType' abstract='true'>
    <xs:annotation>
      <xs:documentation>
        An abstract type for insert measurements
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='MeasurementValueType'>
        <xs:attribute name='type' type='MeasurementType' use='required'/>
        <xs:attribute name='maximum' type='MaximumType' use='optional'/>
        <xs:attribute name='minimum' type='MinimumType' use='optional'/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='InsertMeasurement' abstract='true' type='InsertMeasurementType'>
    <xs:annotation>
      <xs:documentation>
        An abstract type for insert measurements
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='LengthType'>
    <xs:annotation>
      <xs:documentation>
        A length
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='InsertMeasurementType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Length' substitutionGroup='InsertMeasurement' type='LengthType'>
    <xs:annotation>
      <xs:documentation>
        A length
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='DiameterType'>
    <xs:annotation>
      <xs:documentation>
        A diameter
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='InsertMeasurementType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Diameter' substitutionGroup='InsertMeasurement' type='DiameterType'>
    <xs:annotation>
      <xs:documentation>
        A diameter
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='TipAngleType'>
    <xs:annotation>
      <xs:documentation>
        A tip angle
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='InsertMeasurementType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='TipAngle' substitutionGroup='InsertMeasurement' type='TipAngleType'>
    <xs:annotation>
      <xs:documentation>
        A tip angle
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='CornerRadiusType'>
    <xs:annotation>
      <xs:documentation>
        A corner radius
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='InsertMeasurementType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='CornerRadius' substitutionGroup='InsertMeasurement' type='CornerRadiusType'>
    <xs:annotation>
      <xs:documentation>
        A corner radius
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='LifeType'>
    <xs:annotation>
      <xs:documentation>
        A life
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='InsertMeasurementType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Life' substitutionGroup='InsertMeasurement' type='LifeType'>
    <xs:annotation>
      <xs:documentation>
        A life
      </xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>