MTConnectAssets_1.2.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!--
Copyright (c) 2008-2010, AMT – The Association For Manufacturing Technology (“AMT”)
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:
    * Redistributions of source code must retain the above copyright
      notice, this list of conditions and the following disclaimer.
    * Redistributions in binary form must reproduce the above copyright
      notice, this list of conditions and the following disclaimer in the
      documentation and/or other materials provided with the distribution.
    * Neither the name of the AMT nor the
      names of its contributors may be used to endorse or promote products
      derived from this software without specific prior written permission.

DISCLAIMER OF WARRANTY. ALL MTCONNECT MATERIALS AND SPECIFICATIONS PROVIDED
BY AMT, MTCONNECT OR ANY PARTICIPANT TO YOU OR ANY PARTY ARE PROVIDED "AS IS"
AND WITHOUT ANY WARRANTY OF ANY KIND. AMT, MTCONNECT, AND EACH OF THEIR
RESPECTIVE MEMBERS, OFFICERS, DIRECTORS, AFFILIATES, SPONSORS, AND AGENTS
(COLLECTIVELY, THE "AMT PARTIES") AND PARTICIPANTS MAKE NO REPRESENTATION OR
WARRANTY OF ANY KIND WHATSOEVER RELATING TO THESE MATERIALS, INCLUDING, WITHOUT
LIMITATION, ANY EXPRESS OR IMPLIED WARRANTY OF NONINFRINGEMENT,
MERCHANTABILITY, OR FITNESS FOR A PARTICULAR PURPOSE. 

LIMITATION OF LIABILITY. IN NO EVENT SHALL AMT, MTCONNECT, ANY OTHER AMT
PARTY, OR ANY PARTICIPANT BE LIABLE FOR THE COST OF PROCURING SUBSTITUTE GOODS
OR SERVICES, LOST PROFITS, LOSS OF USE, LOSS OF DATA OR ANY INCIDENTAL,
CONSEQUENTIAL, INDIRECT, SPECIAL OR PUNITIVE DAMAGES OR OTHER DIRECT DAMAGES,
WHETHER UNDER CONTRACT, TORT, WARRANTY OR OTHERWISE, ARISING IN ANY WAY OUT OF
THIS AGREEMENT, USE OR INABILITY TO USE MTCONNECT MATERIALS, WHETHER OR NOT
SUCH PARTY HAD ADVANCE NOTICE OF THE POSSIBILITY OF SUCH DAMAGES.
-->
<xs:schema targetNamespace='urn:mtconnect.org:MTConnectAssets:1.2' elementFormDefault='qualified' attributeFormDefault='unqualified' xmlns:xs='http://www.w3.org/2001/XMLSchema' xmlns:mt='urn:mtconnect.org:MTConnectAssets:1.2' xmlns='urn:mtconnect.org:MTConnectAssets:1.2'>
  <xs:element name='MTConnectAssets' type='MTConnectAssetsType'>
    <xs:annotation>
      <xs:documentation>
        The root node for MTConnect
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name='SenderType'>
    <xs:annotation>
      <xs:documentation>
        The sender of the message
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='CreationTimeType'>
    <xs:annotation>
      <xs:documentation>
        The date and time the document was created
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:dateTime'/>
  </xs:simpleType>
  <xs:simpleType name='SequenceType'>
    <xs:annotation>
      <xs:documentation>
        A sequence number
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:integer'/>
  </xs:simpleType>
  <xs:simpleType name='TestIndicatorType'>
    <xs:annotation>
      <xs:documentation>
        A debugging flag for testing.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:boolean'/>
  </xs:simpleType>
  <xs:simpleType name='InstanceIdType'>
    <xs:annotation>
      <xs:documentation>
        The instance number of the agent, used for fault tolerance
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='BufferSizeType'>
    <xs:annotation>
      <xs:documentation>
        The size of the agents buffer
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:integer'/>
  </xs:simpleType>
  <xs:simpleType name='TimestampType'>
    <xs:annotation>
      <xs:documentation>
        The time the sample was reported
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:dateTime'/>
  </xs:simpleType>
  <xs:simpleType name='OccurrenceTimeType'>
    <xs:annotation>
      <xs:documentation>
        The time a sample occurred
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:dateTime'/>
  </xs:simpleType>
  <xs:simpleType name='VersionType'>
    <xs:annotation>
      <xs:documentation>
        A version number
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:NMTOKEN'/>
  </xs:simpleType>
  <xs:simpleType name='NameType'>
    <xs:annotation>
      <xs:documentation>
        A short name for any element
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='UuidType'>
    <xs:annotation>
      <xs:documentation>
        A universally unique id that uniquely identifies the element for
        it&apos;s entire life
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='SerialNumberType'>
    <xs:annotation>
      <xs:documentation>
        A serial number for a piece of equipment
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='ItemSourceType'>
    <xs:annotation>
      <xs:documentation>
        The measurement source
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='RateType'>
    <xs:annotation>
      <xs:documentation>
        A sample rate in milliseconds per sample
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:float'/>
  </xs:simpleType>
  <xs:simpleType name='IDType'>
    <xs:annotation>
      <xs:documentation>
        An identifier
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:ID'/>
  </xs:simpleType>
  <xs:simpleType name='AssetIdType'>
    <xs:annotation>
      <xs:documentation>
        The unique id of the asset
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='DescriptionTextType'>
    <xs:annotation>
      <xs:documentation>
        A description
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='DataItemExtType'>
    <xs:annotation>
      <xs:documentation>
        An extension point for data item types
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[a-ln-z]:[A-Z_0-9]+'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='DataItemStatsExtType'>
    <xs:annotation>
      <xs:documentation>
        An extension point for data item statistics types
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:pattern value='[a-ln-z]:[A-Z_0-9]+'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='DataItemEnumTypeEnum'>
    <xs:annotation>
      <xs:documentation>
        The types of measurements available
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='ACCELERATION'/>
      <xs:enumeration value='ACTIVE_AXES'/>
      <xs:enumeration value='ALARM'/>
      <xs:enumeration value='AMPERAGE'/>
      <xs:enumeration value='ANGLE'/>
      <xs:enumeration value='ANGULAR_ACCELERATION'/>
      <xs:enumeration value='ANGULAR_VELOCITY'/>
      <xs:enumeration value='ASSET_ADDED'/>
      <xs:enumeration value='ASSET_CHANGED'/>
      <xs:enumeration value='AVAILABILITY'/>
      <xs:enumeration value='BLOCK'/>
      <xs:enumeration value='CODE'/>
      <xs:enumeration value='DISPLACEMENT'/>
      <xs:enumeration value='DIRECTION'/>
      <xs:enumeration value='DOOR_STATE'/>
      <xs:enumeration value='EMERGENCY_STOP'/>
      <xs:enumeration value='EXECUTION'/>
      <xs:enumeration value='FREQUENCY'/>
      <xs:enumeration value='PART_COUNT'/>
      <xs:enumeration value='PART_ID'/>
      <xs:enumeration value='PATH_FEEDRATE'/>
      <xs:enumeration value='PATH_POSITION'/>
      <xs:enumeration value='AXIS_FEEDRATE'/>
      <xs:enumeration value='LINE'/>
      <xs:enumeration value='CONTROLLER_MODE'/>
      <xs:enumeration value='LOAD'/>
      <xs:enumeration value='MESSAGE'/>
      <xs:enumeration value='POSITION'/>
      <xs:enumeration value='POWER_STATUS'/>
      <xs:enumeration value='POWER_STATE'/>
      <xs:enumeration value='PRESSURE'/>
      <xs:enumeration value='RESET'/>
      <xs:enumeration value='PROGRAM'/>
      <xs:enumeration value='ROTARY_MODE'/>
      <xs:enumeration value='COUPLED_AXES'/>
      <xs:enumeration value='AXIS_COUPLING'/>
      <xs:enumeration value='SPINDLE_SPEED'/>
      <xs:enumeration value='TEMPERATURE'/>
      <xs:enumeration value='TORQUE'/>
      <xs:enumeration value='TOOL_ID'/>
      <xs:enumeration value='VELOCITY'/>
      <xs:enumeration value='VIBRATION'/>
      <xs:enumeration value='VOLTAGE'/>
      <xs:enumeration value='WATTAGE'/>
      <xs:enumeration value='WORKHOLDING_ID'/>
      <xs:enumeration value='DISPLACEMENT'/>
      <xs:enumeration value='TILT'/>
      <xs:enumeration value='ELAPSED_TIME'/>
      <xs:enumeration value='DURATION'/>
      <xs:enumeration value='POWER_FACTOR'/>
      <xs:enumeration value='STRAIN'/>
      <xs:enumeration value='FLOW'/>
      <xs:enumeration value='SOUND_PRESSURE'/>
      <xs:enumeration value='RESISTANCE'/>
      <xs:enumeration value='CONDUCTIVITY'/>
      <xs:enumeration value='VISCOSITY'/>
      <xs:enumeration value='CONCENTRATION'/>
      <xs:enumeration value='ROTATIONAL_VELOCITY'/>
      <xs:enumeration value='COMMUNICATIONS'/>
      <xs:enumeration value='LOGIC_PROGRAM'/>
      <xs:enumeration value='MOTION_PROGRAM'/>
      <xs:enumeration value='HARDWARE'/>
      <xs:enumeration value='SYSTEM'/>
      <xs:enumeration value='LEVEL'/>
      <xs:enumeration value='ACTUATOR'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='DataItemEnumType'>
    <xs:annotation>
      <xs:documentation>
        The types of measurements available
      </xs:documentation>
    </xs:annotation>
    <xs:union memberTypes='DataItemEnumTypeEnum DataItemExtType'/>
  </xs:simpleType>
  <xs:simpleType name='DataItemSubEnumTypeEnum'>
    <xs:annotation>
      <xs:documentation>
        The sub-types for a measurement
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='ACTUAL'/>
      <xs:enumeration value='COMMANDED'/>
      <xs:enumeration value='MAXIMUM'/>
      <xs:enumeration value='MINIMUM'/>
      <xs:enumeration value='OTHER'/>
      <xs:enumeration value='OVERRIDE'/>
      <xs:enumeration value='PROBE'/>
      <xs:enumeration value='TARGET'/>
      <xs:enumeration value='GOOD'/>
      <xs:enumeration value='BAD'/>
      <xs:enumeration value='ALL'/>
      <xs:enumeration value='LINE'/>
      <xs:enumeration value='CONTROL'/>
      <xs:enumeration value='WEIGHT'/>
      <xs:enumeration value='VOLUME'/>
      <xs:enumeration value='MOLE'/>
      <xs:enumeration value='KINETIC'/>
      <xs:enumeration value='DYNAMIC'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='DataItemSubEnumType'>
    <xs:annotation>
      <xs:documentation>
        The sub-types for a measurement
      </xs:documentation>
    </xs:annotation>
    <xs:union memberTypes='DataItemSubEnumTypeEnum DataItemExtType'/>
  </xs:simpleType>
  <xs:simpleType name='DataItemStatisticsTypeEnum'>
    <xs:annotation>
      <xs:documentation>
        Statistical operations on data
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='MINIMUM'/>
      <xs:enumeration value='MAXIMUM'/>
      <xs:enumeration value='AVERAGE'/>
      <xs:enumeration value='STANDARD_DEVIATION'/>
      <xs:enumeration value='ROOT_MEAN_SQUARE'/>
      <xs:enumeration value='MEAN'/>
      <xs:enumeration value='MODE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='DataItemStatisticsType'>
    <xs:annotation>
      <xs:documentation>
        Statistical operations on data
      </xs:documentation>
    </xs:annotation>
    <xs:union memberTypes='DataItemStatisticsTypeEnum DataItemStatsExtType'/>
  </xs:simpleType>
  <xs:complexType name='HeaderType'>
    <xs:annotation>
      <xs:documentation>
        Message header for protocol information
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='xs:string'>
        <xs:attribute name='version' type='VersionType' use='required'/>
        <xs:attribute name='creationTime' type='CreationTimeType' use='required'/>
        <xs:attribute name='testIndicator' type='TestIndicatorType' use='optional'/>
        <xs:attribute name='instanceId' type='InstanceIdType' use='required'/>
        <xs:attribute name='sender' type='SenderType' use='required'/>
        <xs:attribute name='bufferSize' type='BufferSizeType' use='required'/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name='MTConnectAssetsType'>
    <xs:annotation>
      <xs:documentation>
        The root node for MTConnect
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name='Header' type='HeaderType'>
        <xs:annotation>
          <xs:documentation>
            Protocol dependent information
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Assets' type='AssetsType'>
        <xs:annotation>
          <xs:documentation>
            The assets
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name='SizeType'>
    <xs:annotation>
      <xs:documentation>
        The number of pots (Is this term confusing?)
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:integer'/>
  </xs:simpleType>
  <xs:simpleType name='PocketIdType'>
    <xs:annotation>
      <xs:documentation>
        An identifier for the insert
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='ProgramToolNumberType'>
    <xs:annotation>
      <xs:documentation>
        The number referenced in the program for this tool
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:integer'/>
  </xs:simpleType>
  <xs:simpleType name='SettingGuageType'>
    <xs:annotation>
      <xs:documentation>
        The setting guage
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='OffsetType'>
    <xs:annotation>
      <xs:documentation>
        The offset of the tool
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:float'/>
  </xs:simpleType>
  <xs:simpleType name='ToolIdType'>
    <xs:annotation>
      <xs:documentation>
        The unique identifier of the tool type
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'/>
  </xs:simpleType>
  <xs:simpleType name='EdgeCountType'>
    <xs:annotation>
      <xs:documentation>
        The number of cutting edges
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:integer'/>
  </xs:simpleType>
  <xs:simpleType name='ToolLifeValueType'>
    <xs:annotation>
      <xs:documentation>
        The life of the tool in seconds?
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:float'/>
  </xs:simpleType>
  <xs:simpleType name='EdgeIdType'>
    <xs:annotation>
      <xs:documentation>
        An identifier for the insert
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:integer'/>
  </xs:simpleType>
  <xs:simpleType name='MeasurementValueType'>
    <xs:annotation>
      <xs:documentation>
        A measurement value
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:float'/>
  </xs:simpleType>
  <xs:simpleType name='MaximumType'>
    <xs:annotation>
      <xs:documentation>
        A maximum value
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:float'/>
  </xs:simpleType>
  <xs:simpleType name='MinimumType'>
    <xs:annotation>
      <xs:documentation>
        A minimum value
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:float'/>
  </xs:simpleType>
  <xs:simpleType name='ToolStatusValueType'>
    <xs:annotation>
      <xs:documentation>
        The state of the tool
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='NEW'/>
      <xs:enumeration value='NOT_REGISTERED'/>
      <xs:enumeration value='RECONDITIONED'/>
      <xs:enumeration value='USED'/>
      <xs:enumeration value='EXPIRED'/>
      <xs:enumeration value='TAGGED_OUT'/>
      <xs:enumeration value='BROKEN'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='AssemblyOrientationType'>
    <xs:annotation>
      <xs:documentation>
        The orientation of the curring tool
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='LEFT'/>
      <xs:enumeration value='RIGHT'/>
      <xs:enumeration value='BOTH'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='DeviceOrientationType'>
    <xs:annotation>
      <xs:documentation>
        The orientation of the cutting tool relative machine tool
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='LEFT'/>
      <xs:enumeration value='RIGHT'/>
      <xs:enumeration value='BOTH'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='ToolLifeDirectionType'>
    <xs:annotation>
      <xs:documentation>
        The direction of tool life count
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='UP'/>
      <xs:enumeration value='DOWN'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name='ToolLifeType'>
    <xs:annotation>
      <xs:documentation>
        The direction of tool life count
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='TIME'/>
      <xs:enumeration value='PART_COUNT'/>
      <xs:enumeration value='WEAR'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name='AssetDescriptionType' mixed='true'>
    <xs:annotation>
      <xs:documentation>
        The description of an asset, can be freeform text or elemenrts
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:any processContents='lax' maxOccurs='unbounded' minOccurs='0'>
        <xs:annotation>
          <xs:documentation>
            Any elements
          </xs:documentation>
        </xs:annotation>
      </xs:any>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='ToolDefinitionType' mixed='true'>
    <xs:annotation>
      <xs:documentation>
        The description of an asset, can be freeform text or elemenrts
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:any processContents='lax' maxOccurs='unbounded' minOccurs='0'>
        <xs:annotation>
          <xs:documentation>
            Any elements
          </xs:documentation>
        </xs:annotation>
      </xs:any>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='AssetsType'>
    <xs:annotation>
      <xs:documentation>
        The collection of mobile assets
      </xs:documentation>
    </xs:annotation>
    <xs:choice maxOccurs='unbounded' minOccurs='1'>
      <xs:element ref='Asset'/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name='AssetType' abstract='true'>
    <xs:annotation>
      <xs:documentation>
        An abstract mobile asset
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name='Description' maxOccurs='1' minOccurs='0' type='AssetDescriptionType'>
        <xs:annotation>
          <xs:documentation>
            The description of the asset (freeform)
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name='assetId' type='AssetIdType' use='required'/>
    <xs:attribute name='serialNumber' type='SerialNumberType' use='required'/>
    <xs:attribute name='timestamp' type='TimestampType' use='required'/>
  </xs:complexType>
  <xs:element name='Asset' abstract='true' type='AssetType'>
    <xs:annotation>
      <xs:documentation>
        An abstract mobile asset
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='CuttingToolType'>
    <xs:annotation>
      <xs:documentation>
        A cutting tool
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base='AssetType'>
        <xs:sequence>
          <xs:element name='ToolDefinition' type='ToolDefinitionType'>
            <xs:annotation>
              <xs:documentation>
                Description of tool
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name='ToolLifeCycle' type='ToolLifeCycleType'>
            <xs:annotation>
              <xs:documentation>
                the tool lifecycle
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='CuttingTool' substitutionGroup='Asset' type='CuttingToolType'>
    <xs:annotation>
      <xs:documentation>
        A cutting tool
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='ToolLifeCycleType'>
    <xs:annotation>
      <xs:documentation>
        A defintion of a cutting implement
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name='Status' maxOccurs='1' minOccurs='0' type='ToolStatusValueType'>
        <xs:annotation>
          <xs:documentation>
            The state of the tool assembly
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='ToolLife' maxOccurs='3' minOccurs='0' type='LifeType'>
        <xs:annotation>
          <xs:documentation>
            The life of a tool assembly
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='PocketId' maxOccurs='1' minOccurs='0' type='PocketIdType'>
        <xs:annotation>
          <xs:documentation>
            The pocket location
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='ProgramToolNumber' maxOccurs='1' minOccurs='0' type='ProgramToolNumberType'>
        <xs:annotation>
          <xs:documentation>
            The number used to identify this tool in the program
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Size' maxOccurs='1' minOccurs='0' default='1' type='SizeType'>
        <xs:annotation>
          <xs:documentation>
            The number of pots this tool will consume due to interference. If
            not given, assume 1
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Length' maxOccurs='1' minOccurs='0' type='LengthType'>
        <xs:annotation>
          <xs:documentation>
            The length of the tool assembly
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Diameter' maxOccurs='1' minOccurs='0' type='DiameterType'>
        <xs:annotation>
          <xs:documentation>
            The diameter of the tool assembly
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Offset' maxOccurs='1' minOccurs='0' type='OffsetType'>
        <xs:annotation>
          <xs:documentation>
            The offset of the tool assembly
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Edges' type='EdgesType'>
        <xs:annotation>
          <xs:documentation>
            A list of edges for this assembly
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name='deviceUuid' type='UuidType' use='optional'/>
    <xs:attribute name='toolId' type='ToolIdType' use='required'/>
  </xs:complexType>
  <xs:complexType name='LifeType'>
    <xs:annotation>
      <xs:documentation>
        Abstract cutter life
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='ToolLifeValueType'>
        <xs:attribute name='type' type='ToolLifeType' use='required'/>
        <xs:attribute name='direction' type='ToolLifeDirectionType' use='required'/>
        <xs:attribute name='warning' type='ToolLifeValueType' use='optional'/>
        <xs:attribute name='maximum' type='ToolLifeValueType' use='required'/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name='EdgesType'>
    <xs:annotation>
      <xs:documentation>
        A list of edge
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name='Edge' maxOccurs='unbounded' minOccurs='1' type='EdgeType'>
        <xs:annotation>
          <xs:documentation>
            An edge
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name='count' type='EdgeCountType' use='required'/>
  </xs:complexType>
  <xs:complexType name='EdgeType'>
    <xs:annotation>
      <xs:documentation>
        An edge into a tool assembly
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name='Length' maxOccurs='1' minOccurs='0' type='LengthType'>
        <xs:annotation>
          <xs:documentation>
            The length of the edge
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='Diameter' maxOccurs='1' minOccurs='0' type='DiameterType'>
        <xs:annotation>
          <xs:documentation>
            The diameter of the edge
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='TipAngle' maxOccurs='1' minOccurs='0' type='TipAngleType'>
        <xs:annotation>
          <xs:documentation>
            The angle of the tool cutting edge
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='CornerRadius' maxOccurs='1' minOccurs='0' type='CornerRadiusType'>
        <xs:annotation>
          <xs:documentation>
            The angle of the tool cutting edge
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name='EdgeLife' maxOccurs='1' minOccurs='0' type='LifeType'>
        <xs:annotation>
          <xs:documentation>
            The life of an edge
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name='edgeId' type='EdgeIdType' use='required'/>
  </xs:complexType>
  <xs:complexType name='EdgeMeasurementType' abstract='true'>
    <xs:annotation>
      <xs:documentation>
        An abstract type for edge measurements
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='MeasurementValueType'>
        <xs:attribute name='maximum' type='MeasurementValueType' use='optional'/>
        <xs:attribute name='minimum' type='MeasurementValueType' use='optional'/>
        <xs:attribute name='nominal' type='MeasurementValueType' use='optional'/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='EdgeMeasurement' abstract='true' type='EdgeMeasurementType'>
    <xs:annotation>
      <xs:documentation>
        An abstract type for edge measurements
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='LengthType'>
    <xs:annotation>
      <xs:documentation>
        A length
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='EdgeMeasurementType'>
        <xs:attribute name='wear' type='MeasurementValueType' use='optional'/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Length' substitutionGroup='EdgeMeasurement' type='LengthType'>
    <xs:annotation>
      <xs:documentation>
        A length
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='DiameterType'>
    <xs:annotation>
      <xs:documentation>
        A diameter
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='EdgeMeasurementType'>
        <xs:attribute name='wear' type='MeasurementValueType' use='optional'/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='Diameter' substitutionGroup='EdgeMeasurement' type='DiameterType'>
    <xs:annotation>
      <xs:documentation>
        A diameter
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='TipAngleType'>
    <xs:annotation>
      <xs:documentation>
        A tip angle
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='EdgeMeasurementType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='TipAngle' substitutionGroup='EdgeMeasurement' type='TipAngleType'>
    <xs:annotation>
      <xs:documentation>
        A tip angle
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name='CornerRadiusType'>
    <xs:annotation>
      <xs:documentation>
        A corner radius
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base='EdgeMeasurementType'/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name='CornerRadius' substitutionGroup='EdgeMeasurement' type='CornerRadiusType'>
    <xs:annotation>
      <xs:documentation>
        A corner radius
      </xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>